.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.main-bg {
  /* height : 300px;
  background-image : url('./bg.png');
  background-size : cover;
  background-position : center; */
}
.Nav {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
h1 .link {
  font-size: 30px;
}
ul {
  list-style: none;
}
ul.row {
  gap: 30px;
}
.link {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}
.row-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.row-around .col-md-6 {
  width: 50%;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
